@import '../less/global.less';

.shop-goods {
  .product {
    margin: 10px;
    padding-bottom: 10px;
  }
  .to-cart {
    width: 100%;
  }
  .count-number {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    .countNumber {
      margin: 0 10px;
    }
  }

  .add-cart {
    border-radius: 0;
  }
}