@import "../less/global";

.shopping-cart {
  .product {
    margin: 10px;
    padding-bottom: 10px;
  }

  .count-number {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;

    .countNumber {
      margin: 0 10px;
    }
  }

  .good-totalPrice {
    margin-bottom: 10px;
  }

  .total-area {
    font-size: 16px;
    display: flex;
    justify-content: space-around;
  }

  .back-good {
    width: 100%;
  }

  .no-goods {
    font-size: 18px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .cart-toolbar {
    display: flex;
    width: 100%;
    align-items: center;

    .back-area:first-child {
      width: 100%;
    }
  }

}