@import "../less/global";

.shopping-cart {
  .product {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  .count-number {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    .countNumber {
      margin: 0 10px;
    }
  }
  .good-name,
  .good-price {
    font-size: 14px;
  }
  .total-area{
    margin: 10px;
    font-size: 16px;
  }
  .to-cart{
    margin: 10px;
  }
}